<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/shared.css"/>
</head>
<body>

<h2>{{ metadata.title if metadata.title else coll }} Info Page</h2>
<a href="https://github.com/ikreymer/cc-index-server"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

<div>
<table style="text-align: left">
{% for item in metadata.items() %}
<tr><th>{{ item[0] }}:</th><td>{{ item[1] }}</td>
{% endfor %}
</table>
</div>

<form onsubmit="url = document.getElementById('url').value; if (url == '') { return false; }" action="/{{ coll }}-index">
<p>
Search a url in this collection:
<span style="font-size: small">
(Wildcards -- Prefix: <i>http://example.com/*</i>&nbsp;&nbsp;
Domain: <i>*.example.com</i>)
</span>
<br/>
<input type="text" id="url" name="url" placeholder="Enter a url to search"/>
<input name="output" value="json" type="hidden"/>
<button type="submit">Search</button>
</p>
<div style="margin-top: 8px; margin-left: 4px">
<input name="showNumPages" type="checkbox" value="true"/>Show Number Of Pages Only
</div>
</form>
<p>(See the <a href="https://github.com/ikreymer/pywb/wiki/CDX-Server-API#api-reference">CDX Server API Reference</a> for more advanced query options.)</p>
<h5><a href="/">Back To All Indexes</a></h5>
</body>
</html>
